[accounts]
usercode = "Your usercode"
password = "Your password"

[setting]
# 不要设置过低，会导致账号被锁定
interval = 7200
apiEndpoint = "http://localhost:8000"
authKey = "233"

[room]
[room.444z]
name = "444 照明"
group = "✨ 444"
id = "11-22--33-444"

[room.444k]
name = "444 空调"
group = "✨ 444"
id = "11-22--55-444"
