[accounts]
usercode = "Your usercode"
password = "Your password"
# cookie = "userToken=Your userToken; Domain=.zzu.edu.cn; Path=/"
cookie = "Your cookie"

[setting]
# 不要设置过低，会导致账号被锁定
interval = 7200
apiEndpoint = "http://localhost:8000"
apiKey = "233"
alarmLine=10
warningLine=20

[room]
[room.444z]
name = "444 照明"
group = "✨ 444"
id = "11-22--41-444"
pushName="Ntfy1"

[room.444k]
name = "444 空调"
group = "✨ 444"
id = "11-22--42-8444"

[push.aa]
name="Ntfy1"
provider="Ntfy"
params={ topic="233" }